.studies {

    // &__inner {}

    &__top {
        @include sectionTop
    }

    &__text {
        @include sectionTextTop
    }

    // &__btn {}


    &__bottom {
        display: flex;
        justify-content: space-between;

        @media (max-width:1024px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__box-big {
        // flex: 0 1 696px;
        max-width: 696px;
        overflow: hidden;
        background: #FFFFFF;
        border: 1px solid #EBEAF2;
        // box-shadow: 0px 24px 24px rgba(52, 52, 147, 0.32);
        border-radius: 8px;

        @media (max-width:1024px) {
            flex: none;
            margin-bottom: 30px;
        }
    }

    &__img {
        max-width: 696px;
        height: auto;

        img {
            width: 100%;
        }
    }

    &__text-box {
        padding: 48px 24px;
    }

    // &__name {}

    // &__title {}

    &__box {
        flex: 0 1 465px;

        @media (max-width:1024px) {
            flex: none;
        }
    }

    &__item {
        margin-bottom: 32px;
    }
}